<!-- app/views/stories/upvoted.html.erb -->
<h1><%= "Top Stories Upvoted by \"#{ @upvoted_by }\"" %></h1>
<%= form_with url: upvoted_stories_path, method: :get, local: true do |f| %>
  <%= f.select :user_id,
               options_for_select(
                 [['All Users', 'all']] + @users.map { |u| [u.email, u.id] },
                 params[:user_id] || 'all'
               ) %>
  <%= f.submit "Filter" %>
<% end %>
<%= render 'story_list', stories: @upvoted_stories %>




